{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container-fluid subnav-bg">
    <div class="row justify-content-around align-items-center">
        <div class="text-center col-10">
            <h1 class="text-subnav m-3">Décourez tous nos ebooks</h1>
        </div>
    </div>
</div>
<div class="container-fluid pl-5">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-12 card-filter pt-3">
            {{form_start(searchForm, {attr: {class:'filter'}})}}
            <h2><span class="color-letter">F</span>iltres</h2>
            {{form_row(searchForm.q)}}
            <div class="accordion" id="accordionExample">
                <div>
                    <div id="headingOne">
                        <button class="btn text-left" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne">
                            <h4><span class="color-letter">E</span>xpertises</h4>
                        </button>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            {{ form_row(searchForm.expertise)}}
                        </div>
                    </div>
                </div>
                <div>
                    <div id="headingTwo">
                        <hr>
                        <button class="btn text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h4><span class="color-letter">D</span>ate de sortie</h4>
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center pb-3 pt-3">
                <hr>
                <button type="submit" class="btn btn-inscription"> Rechercher</button>
            </div>
            {{form_end(searchForm)}}
        </div>
        <div class="col-md-9">

            <div class="row">
                {% for ebook in ebooks %}
                {% if ebook.isValidated == true %}
                {% include 'home/ebooks_card.html.twig' with {ebook: ebook} only %}
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock %}