<div class="col-lg-4 col-md-8 col-sm-12 my-3">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h2 class="card-title">
                {{ebook.title}}
                <div class="card-title">
                    <h5>{{ebook.editorName}}</h5>
                </div>
            </h2>
            <p class="text text-muted">
                {{ebook.releaseDate|date('d-m-Y')}}
            </p>
        </div>
    </div>
</div>