{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row color-bg-home justify-content-center align-items-center p-5">
        <div class="col-lg-7 col-md-7 ml-5 color-banner-home">
            <h1>Le meilleur du digital accessible <br>pour les entrepreneurs</h1>
            <h2 class="sub-title-home pt-3">Trouvez toutes les ressources pour vous accompagner dans votre projet</h2>
        </div>
        <div class="col-lg-5 col-md-5">
            <img src="" class="img-fluid">
        </div>
    </div>
</div>
<div class="container">
    <div class="row pt-5">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-2">
            <h2><span class="color-number">1.</span> Inscrivez-vous</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h2><span class="color-number">2.</span> Trouvez les experts</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h2><span class="color-number">3.</span> Entrez en contact</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
        </div>
    </div>
</div>

{% endblock %}
