{% extends 'base.html.twig' %}

{% block title %}Edit Ebook{% endblock %}

{% block body %}
<div class="container-fluid wrapperPresta text-center">
    <h1>Edit Ebook</h1>
    {{ include('expert/ebook_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('expert/ebook_delete_form.html.twig') }}

    <a href="{{ path('expert_ebook') }}">
        <button type="button" class="btn btn-inscription nav-link">back to list</button>
    </a>
</div>
{% endblock %}