{% extends 'base.html.twig' %}

{% block title %}Mon profil {% endblock %}

{% block body %}
{{ include('expert/navExpert.html.twig') }}
<div class="container-fluid wrapperPresta d-flex justify-content-center">
  <div class="media">
    {% include 'design_form_yellow.html.twig'%}
    <div class="media-body">
      <h1 class="mt-0 text-subnav">Bonjour {{user.firstname}},</h1>
      <p>Vous avez publié {{nbEbooks}} ebooks.</br>
      Augmentez votre visibilité en publiant de nouveaux ebooks !</p>
      <a href="{{ path('expert_ebook_new')}}">
        <button type="button" class="btn btn-connexion nav-link mt-5"><i class="fas fa-plus"></i> Ajouter un nouveau ebook</button>
      </a>
    </div>
  </div>
</div>
{% endblock %}