<hr>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('expert_profil', {'id': user.id}) }}"><button type="button"
                class="btn btn-profil ml-5"> Profil</a></button>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('expert_expertPage', {'id': user.id}) }}"><button type="button"
                class="btn btn-profil ml-3"> Présentation de ma Page Expert</a></button>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('expert_ebook', {'id': user.id}) }}"><button type="button"
                class="btn btn-profil ml-3"> Ebook</a></button>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('expert_messagerie', {'id': user.id}) }}"><button type="button"
                class="btn btn-profil ml-3"> Messagerie</a></button>
    </li>
</ul>
