{% extends 'base.html.twig' %}

{% block title %}Mes Ebooks {% endblock %}

{% block body %}
{{ include('entrepreneur/_navEntrepreneur.html.twig') }}
<div class="container-fluid wrapperPresta">
  <div class="picturePresta">
    <img id='profil' src="/uploads/profile_picture/{{ user.profilePicture }}" alt="photo de profil">
  </div>
  <div class="card-deck">
    <div class="card alert alert-light mb-3 rounded-pill" role="alert">
      Titre
    </div>
    <div class="card alert alert-light mb-3 rounded-pill" role="alert">
      Expertise
    </div>
    <div class="card alert alert-light mb-3 rounded-pill" role="alert">
      Date de sortie
    </div>
    <div class="card alert alert-light mb-3 rounded-pill" role="alert">
      Actions
    </div>
  </div>
</div>
{% endblock %}