{% extends 'base.html.twig' %}

{% block body %}
<hr>
<div class="container-success">
  <div class="item-success">
   <h5 class="font-color">Merci pour votre inscription !</h5>
    <h6 class="font-color1">Votre compte est en cours de validation</h6>
    <a href="/"><button type="button" class="btn btn-warning">Page d'accueil</button></a>
  </div>
</div> <hr>

{% endblock %}