{% extends 'base.html.twig' %}

{% block title %}New Ebook{% endblock %}

{% block body %}
    <h1>Create new Ebook</h1>

    {{ include('prestataire/ebook_form.html.twig') }}

    <a href="{{ path('prestataire_ebook') }}">back to list</a>
{% endblock %}
