{% extends 'base.html.twig' %}

{% block title %}Editer mon profil {% endblock %}

{% block body %}
<div class="container-fluid wrapperPresta">
{{ include('prestataire/_form.html.twig', {'button_label': 'Update'}) }}
</div>
{% endblock %}