@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";


body {
    background-color: $blue;
    
}
h1 {
    font-family: $oswald;
}

.bg-navbar {
    background-color:white;
}


.btn-connexion {
    border: 1px solid $yellow;
    background-color: transparent;
}

.btn-connexion:hover {
    color: black;
    background-color: $yellow;
}

.btn-inscription {
    background-color: $yellow;
}

.btn-inscription:hover {
    border: 1px solid $yellow;
    background-color: transparent;
    color: black;
}