<footer>
    <div class="container pb-3">
        <div class="row pt-5">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-2 pr-4">
                <h2>BEEZNESS<span class="color-number">LY</span></h2>
                <p>FAQ</p>
                <p>A propos de nous</p>
                <p>Mentions légales</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-2 pr-4">
                <h2>Nous rencontrer</h2>
                <p>Beeznessly</p>
                <p>26 rue de la Madeleine</p>
                <p>75020</p>
                <img src="https://i.postimg.cc/NF3Gfk4w/Capture-d-e-cran-2020-12-03-a-09-54-11.png"
                    class="img-fluid" width="200">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pr-4">
                <h2>Entrepreneur</h2>
                <p>Découvrir tous les Beez experts</p>
                <p>Créer mon profil pour télécharger les e-book</p>
                <h2>Experts</h2>
            </div>
        </div>
    </div>
</footer>