{% extends 'base.html.twig' %}

{% block title %}Editer mon profil {% endblock %}

{% block body %}
{{ include('expert/navExpert.html.twig') }}
<div class="container-fluid wrapperPresta">
    {{ include('expert/expert_page/_form_expertPage.html.twig', {'button_label': 'Enregistrer'}) }}
</div>

{% endblock %}
